body{
	font-family:Arial, sans-serif;
	background-color:#f0f0f0; 
	justify-content:center;
	align-items:center;
	height:100vh;
	margin:20px;
}

h1{
	color:#333;
	font-size:36px;
	margin-bottom:20px;
}
.keys{
	gap:20px;
	width:80%;
	max-width:1200px;
	display:flex;
	flex-flow:row wrap;
}
.key{
	background-color:#4CAF50;
	color:#FFFFFF;
	border:none;
	border-radius:8px;
	padding:20px;
	font-size:18px;
	text-align:center;
	width:120px;
	box-shadow:0 4px 6px rgba(0,0,0,0.1);
	transition:background-color 0.3s, transform 0.2s;
    margin-left:20px;
}
.playing{
	background-color:#388e3c;
}
.keyLabel{
	display:block;
	text-align:center;
	font-weight:bold;
}

